<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <aside className={styles.sideBar}>
      <div>
        <h2 className={styles.titles}>HABILIDADES <Image className={styles.flecha} src='/logos/Flecha.png' alt="Flecha" width={15} height={15}/></h2>
        <hr className={styles.hr}></hr>
        <ul className={styles.ul}>
            <li className={styles.titles2}>-Backend</li>
            <li><Image src='/logos/Check.png' alt="Check" width={20} height={20} />JavaScrip</li>
            <li><Image src='/logos/Check.png' alt="Check" width={20} height={20} />Ansible</li>
            <li className={styles.titles2}>-Frontend</li>
            <li><Image src='/logos/Check.png' alt="Check" width={20} height={20} />NodeJs</li>
            <li><Image src='/logos/Check.png' alt="Check" width={20} height={20} />HTML</li>
            <li><Image src='/logos/Check.png' alt="Check" width={20} height={20} />CSS</li>
            <li><Image src='/logos/Check.png' alt="Check" width={20} height={20} />React</li>
            <li className={styles.titles2}>-DataBase</li>
            <li><Image src='/logos/Check.png' alt="Check" width={20} height={20} />SQL</li>
            <li><Image src='/logos/Check.png' alt="Check" width={20} height={20} />MySQL</li>
            <li><Image src='/logos/Check.png' alt="Check" width={20} height={20} />MongoDB</li>
            <li className={styles.titles2}>-Tools & Infra</li>
            <li><Image src='/logos/Check.png' alt="Check" width={20} height={20} />GitHub</li>
            <li><Image src='/logos/Check.png' alt="Check" width={20} height={20} />AWS</li>
            <li><Image src='/logos/Check.png' alt="Check" width={20} height={20} />Azure</li>
            <li><Image src='/logos/Check.png' alt="Check" width={20} height={20} />WorkSpaceOne</li>
        </ul>
      </div>
      <div>
        <h2 className={styles.titles}>HOBBIES <Image className={styles.flecha} src='/logos/Flecha.png' alt="Flecha" width={15} height={15}/></h2>
        <hr className={styles.hr}></hr>
        <ul className={styles.ul}>
            <li><Image src='/logos/Check.png' alt="Check" width={20} height={20} />Autocad</li>
            <li><Image src='/logos/Check.png' alt="Check" width={20} height={20} />Photoshop</li>
            <li><Image src='/logos/Check.png' alt="Check" width={20} height={20} />Illustrator</li>
            <li><Image src='/logos/Check.png' alt="Check" width={20} height={20} />3D MAx</li>
            <li><Image src='/logos/Check.png' alt="Check" width={20} height={20} />After Effects</li>
            <li><Image src='/logos/Check.png' alt="Check" width={20} height={20} />Premiere Pro</li>
            <li><Image src='/logos/Check.png' alt="Check" width={20} height={20} />Impresión 3D</li>
            <li><Image src='/logos/Check.png' alt="Check" width={20} height={20} />Dibujo / Dibujo Técnico</li>
            <li><Image src='/logos/Check.png' alt="Check" width={20} height={20} />Pintura</li>
            <li><Image src='/logos/Check.png' alt="Check" width={20} height={20} />Grabado</li>
            <li><Image src='/logos/Check.png' alt="Check" width={20} height={20} />Gaffitis / Murales</li>
        </ul>
      </div>
      <div>
        <h2 className={styles.titles}>IDIOMAS <Image className={styles.flecha} src='/logos/Flecha.png' alt="Flecha" width={15} height={15}/></h2>
        <hr className={styles.hr}></hr>
        <ul className={styles.ul}>
            <li><Image src='/logos/Check.png' alt="Check" width={20} height={20} />Español (Nativo)</li>
            <li><Image src='/logos/Check.png' alt="Check" width={20} height={20} />Ingles (Intermedio)</li>
        </ul>
      </div>
    </aside>
  </div>
</body>
</html>